#para{
    font-style: italic;
    background-image: url('Design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    display: nonebac;
}
*{
    margin: 10px;
    border: 5px solid blueviolet;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 2px 2px  aqua;
}
span{
    color: brown;
}